{% extends "base.twig" %}
{% block content %}
	<main class="portfolio">
            <h1>{{fields.heading}}</h1>
            <h3>{{fields.subheading}}</h3>
		{% if fields.portfolio_examples %}
            {% for example in fields.portfolio_examples %}
                <div class="portfolio_example">
                    <img class="portfolio-image" src="{{example.featured_image.url}}" alt="{{example.featured_image.alt}}" />
                    <div class="portfolio_example_content">
                        <h3 class="portfolio-example-heading">{{example.title}}</h3>
                        {% if example.live_url %}
                            <h4>Live Link: <a href="{{example.live_url.url}}">{{example.live_url.title}}</a></h4>
                        {% endif %}
                        {% if example.code_link %}
                            <h4>Code Excerpt: <a href="{{example.code_link.url}}">{{example.code_link.title}}</a></h4>
                        {% endif %}
                        <p>{{function('apply_filters', 'the_content', example.description)}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if fields.cta_link %}
            <div class="call-to-action">
            </div>
        {% endif %}
	</main>
{% endblock %}