{% extends "base.twig" %}
{% block content %}
	<main class="main blue">
		<div class="content">
			{{function('apply_filters', 'the_content', fields.post.post_content)}}
		</div>
	</main>
	{% if fields.cta_link %}
		<div class="call-to-action">
			<h3>{{fields.optional_cta_title}}</h3>
			<p>{{fields.optional_cta_description}}</p>
			<a href="{{fields.cta_link.url}}" class="cta-link">{{fields.cta_link.title}}</a>
		</div>
	{% endif %}

{% endblock %}