{% extends "base.twig" %}
{% block content %}
	<main class="portfolio">
            <h1>{{fields.heading}}</h1>
            <h3>{{fields.subheading}}</h3>
		{% if fields.portfolio_examples %}
            {% for example in fields.portfolio_examples %}
                <div class="portfolio_example">
                    <img src="{{example.featured_image.url}}" alt="{{example.featured_image.alt}}" />
                    <div class="portfolio_example_content">
                        <h3>{{example.title}}</h3>
                        {% if example.live_url %}
                            <h4>Live Link: <a href="{{example.live_url.url}}">{{example.live_url.title}}</a></h4>
                        {% endif %}
                        {% if example.code_link %}
                            <h4>Code Excerpt: <a href="{{example.code_link.url}}">{{example.code_link.title}}</a></h4>
                        {% endif %}
                        <p>{{example.description}}</p>
                        {% if example.other_images %}
                            <div class="slick-left-arrow">
                                <img src="{{fields.arrow_left}}" class="slick-arrows" alt="Slider left arrow" />
                            </div>
                            <div class="portfolio_example_slider">
                                {% for image in example.other_images %}
                                    <img src="{{image.example_image.url}}" alt="{{image.example_image.alt}}" />
                                {% endfor %}
                            </div>
                            <div class="slick-right-arrow">
                                <img src="{{fields.arrow_right}}" class="slick-arrows" alt="Slider right arrow" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if fields.cta_link %}
            <div class="call-to-action">
            </div>
        {% endif %}
	</main>
{% endblock %}