<header class="header-global">
    <a href="#" class="mobile_menu_toggle">
        <img src="{{mobile.menu_icon}}">
    </a>
    <div class="nav-bar">
        {% for menu_link in nav_menu.menu_links %}
            <a href="{{menu_link.link.url}}" class="nav-link">{{menu_link.link.title}}</a>
        {% endfor %}
    </div>
    <div class="top-banner">
        <div class="logo">
            <a href="/">{{fields.header_text}}</a>
        </div>
    </div>
    <div class="right-nav">
        <a class="portfolio-link" href="{{portfolio.url}}">{{portfolio.title}}</a>
    </div>
</header>